<%= search_form_for @q, url: search_spots_path, html: {method: :get} do |f| %>
  <%= f.label :spot_schedule_start_on_gteq, "開始日" %>
  <%= f.date_field :spot_schedule_start_on_gteq %>

  <%= f.label :spot_schedule_end_on_lteq, "終了日" %>
  <%= f.date_field :spot_schedule_end_on_lteq %>

  <%= f.submit "検索" %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>スポット名</th>
      <th>スポット説明</th>
      <th>都道府県名</th>
      <th>タグ</th>
      <th>reviewの総数</th>
    </tr>
  </thead>
  <tbody>
    <% @spots.each.with_index(1) do |spot, index| %>
    <tr class="table-info">
      <th scope="row"><%= index %></th>
      <td><%= spot.name %></td>
      <td><%= spot.body.truncate(30) %></td>
      <td><%= spot.prefecture.name %></td>
      <td><%= spot.spot_tag.tag.name %></td>
      <td class="review-modal" data-id="<%= spot.id %>"><%= spot.spot_reviews_count%></td>
    </tr>
    <tr class="recent-review hidden" id="spot-<%= spot.id %>" >
      <th colspan="6">
        <div id="spot-review-<%= spot.id %>">
          <%= render 'spots/modal', spot: spot %>
        </div>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @spots, theme: "twitter-bootstrap-4" %>
