<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>スポット名</th>
      <th>スポット説明</th>
      <th>都道府県名</th>
      <th>タグ</th>
    </tr>
  </thead>
  <tbody>
    <% @spots.each.with_index(1) do |spot, index| %>
    <tr class="table-info">
      <th scope="row"><%= index %></th>
      <td><%= spot.name %></td>
      <td><%= spot.body.truncate(30) %></td>
      <td><%= spot.prefecture.name %></td>
      <td><%= spot.spot_tag.tag.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @spots, theme: "twitter-bootstrap-4" %>
