<div class= "wrapper row">
  <div class= "spot-detail col-md-6">
    <div><h3>スポット名: <%= @spot.name%></h3></div>
    <div>スポット説明: <%= @spot.body%></div>
    <div>トイレの数: <%= @spot.restroom_qty%></div>
    <div>wifi有無: <%= @spot.wifi%></div>
    <div>都道府県名: <%= @spot.prefecture.name%></div>
    <div>タグ: <%= @spot.spot_tag.tag.name %></div>
    <div>スポット設備: <%= @spot.building%></div>
    <div>レビュー全部: <%= @spot.spot_reviews_count%></div>
  </div>
  <div class="review-detail col-md-6">
    <h3> Review </h3>
    <% @spot.spot_reviews.each.with_index(1) do |spot_review, index| %>
      <div><%= spot_review.comment%></div>
      <div class= "posted_at"><%= spot_review.posted_at %></div>
    <% end %>
  </div>
</div>
